
body {
    margin: 0;
    padding: 0;
    background-color: #4caf50;
}
p{
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.form-container {
    background-color: rgb(201, 43, 43);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 80%;
    height: 60%;
}

.form-container .form-image {
    flex: 1;
    background: url('laugh.png') center/cover no-repeat ;
    position: relative;
}

.text_on_pic{
    top: 10%;
    position: absolute;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.info i {
    margin-right: 10px;
}

.form-container .form-content {
    flex: 1;
    padding: 20px;
}

.form-container form {
    max-width: 400px;
    margin: 0 auto;
}

.form-container label, .form-container input, .form-container button {
    display: block;
    margin-bottom: 15px;
}
.form-container input, .form-container textarea{
    width: 70%;
}

.form-container button {
    margin: 1%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
}
