body{
    background: url('chibi-Overlord.jpg') center/cover no-repeat ;
}
h1{
    color: rgb(53, 58, 194);
    text-align: center;
    font-size: 75px;
}

.contact-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.contact-box:nth-child(odd) {
    background-color: #f3b6b6;
}

.contact-box:nth-child(even) {
    background-color: rgb(96, 215, 134);
}